
<section class="container">
  <div class="card mx-auto col-4" >
    <%= image_tag(@product.image_url, class: "img-fluid") unless @product.image_url.nil? %>

    <div class="card-body">
      <h5 class="card-title">
        <strong>Name:</strong>
        <%= @product.name %>
      </h5>
      <p class="card-text">
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Price:</strong>
        <%= @product.price %>
      </li>
      <li class="list-group-item">
        <strong>Image url:</strong>
        <%= @product.image_url %>
      </li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body text-center">
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
    </div>
  </div>


</section>
